.page {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  // min-height: 100vh;
}


img {
  background: #F1F1FA;
  width: 400px;
  height: 300px;
  display: block;
  margin: 10px auto;
  border: 0;
}